/* .maintain{
    color: white;
    padding:10px 10px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    gap: 60px;
    display: flex;
    position:sticky;
    top: 0;
    background-color: #1b1b1b;
    z-index: 1000;
} */

.maintain {
    color: white;
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    gap: 60px;
    display: flex;
 
}