.hover_container{
    position: absolute;
    top:80px;
    padding-left: 320px;
   
}   

.child_container{
    height:500px;
    width: 980px;
    background-color:white;
    display:flex;     
    justify-content: space-around;
    overflow: hidden;
    flex-wrap:nowrap;
}
li{
    list-style:none ;
}
.super_parent{
    width: 100%;
    padding:20px 0px ;
    height: 500px;
}