.container{
    background-color: rgb(122, 118, 118);
    width: 80%;
    display: flex;
.serach-bar{
      flex: 80%;
      display: flex;
      height: 40px;
      width: 700px;

     
input{
    width: 100%;
    border: none;
    font-size: 16px;
    outline: none;
    background-color:rgb(70, 69, 69);
   
       }
i{
    background-color:rgb(70, 69, 69);
    padding-right: 10px;
    padding: 12px 10px;
    font-size: 15px;
    color: white;

}
input::placeholder{
    height: 80px;
    width: 700px;
    color: rgb(190, 177, 177);
}
}
}