.parentlinkcontainer{
    width: 100%;

    }
   
.parentlinkcontent{
    justify-content: space-between;
    color: white;
    display: flex;
    background-color: black;
    height: 40px;
  
 

}
.cart{
    padding-right: 200px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
    padding:10px 12px;

}
.formate{
    /* margin-right: 170px ; */
    width: 100%;
    padding: 10px 10px;
     
}
.formate a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
    padding:10px 12px;
}
.orders{
    padding: 0px 40px ;
   
}    